
#header {
  height: 50px;
  width: 110%;
  background: linear-gradient(-45deg, #0618a1, #085ca16c, #32a3d0, #3edce5);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  border-radius: 12px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
