#info {
    display: flex;
    align-items: center;
    height: 10vw;
    width: auto;
    gap: 1rem;
    padding: 0.5rem;

}

.pic {
    width: 40%;
    height: auto;
    object-fit: contain;
}

.info {
    width: 40%;
    white-space: pre-line;
    font-size: 1rem;
    line-height: 1.2;

}